@import 'colors';
@import 'utility';
@import 'loading-overlay';
html {
    /*height: 100%*/
}

body {
    background: tomato;
    height: 100%;
    min-height: 100%;
    font-family: proxima-nova, "proxima nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar.dash-navbar-top {
    margin-bottom: 0;
}

.content-wrap {
    /*background: #f8f8f8;*/
    background-color: #fff;
}
.container.main-container {
    margin-left: 0;
}
#content {
    /*padding: 40px 0;*/
}

.ExpertListPic {
    max-width: 40px;
    border-radius: 50%;
}

.wppb-front-end-logout span {
    display: none;
}

//full width iframe
iframe#salesforce-content {
    width: 100%;
    // background-image: url(../dashboard-assets/images/loader.gif); 
    // background-repeat: no-repeat;
    // background-position: 50% 50%;
}

.navbar-brand>img.header-tei-logo {
    display: inline-block;
}

.header-tei-logo {
    width: 240px;
    max-width: 250px;
    @media (max-width: 768px) {
        max-width: 170px;
    }
    display: inline-block;
}

.beta-tag {
    display: inline-block;
}


/* 
    LOG-IN PAGE
 */

body.login-page {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
}

.jumbotron.login-box {
    max-width: 580px;
    margin: 20% auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    p {
        font-size: 18px;
    }
    label {
        font-weight: normal;
        font-size: 1em;
    }
    .login-remember {
        color: $cool-grey;
        font-size: 1em;
    }
    .login-logo {
        width: 340px;
        margin: 0 auto;
    }
    p.mini {
        font-size: 1.1em;
    }
    #login-form,#register-form {
        transition: all 0.2s ease-in-all;
        .login-submit input ,.form-submit input {
            max-width: 150px;
        }
    }

    .login-submit input ,.form-submit input {
        transition: all 0.2s ease-in-out;
        border: 2px solid $tei-primary;
        background: transparent;
        border-radius: 4px;
        font-size: 0.9em;
        text-transform: uppercase;
        font-weight: 600;
        font-family: "proxima-nova";
        color: $tei-primary;
        padding: 6px 24px;
        &:hover {
            background: $tei-primary;
            color: $white;
        }
    }
    .register-switch {
        font-weight: 600;
    }
    h2 {
        margin: 10px auto 20px;
        text-transform: uppercase;
        color: $tei-primary;
        font-size: 1.1em;
    }


}

.page-header,.ListHeading {
    font-size: 34px;
    text-align: center;
    display: block;
    color: $tei-primary;
    text-transform: uppercase;
    font-weight: 300;
}

.page-subheader {

  margin-top: 0;
  margin-bottom: 1em;
  color: $tei-primary;

}
.alert.alert-info.alert-tei {
    color: $tei-primary;
    background-color: rgba(105, 171, 232, 0.08);
    border-color: $tei-primary;
}

/* 

    EDIT PROFILE
 */

 input#edit_profile.submit.button {
         transition: all 0.2s ease-in-out;
         border: 2px solid $tei-primary;
         background: transparent;
         max-width: 150px;
         border-radius: 4px;
         font-size: 0.9em;
         text-transform: uppercase;
         font-weight: 600;
         font-family: "proxima-nova";
         color: $tei-primary;
         padding: 6px 24px;
         &:hover {
             background: $tei-primary;
             color: $white;
         }
     }




 /* 
     SWEET ALERT STYLES
  */

  .sweet-overlay {
      background-color: white;
      -ms-filter: "alpha(opacity=40)";
      background-color: rgba(255, 255, 255, 0.4);

  }
  .sweet-alert {
    font-family: proxima-nova, "proxima nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

  }