@import 'colors';
@import 'star-rating';
@import 'chatter';

/*CASE INTAKE PAGE*/


/* Mixins */

.rotate {
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
}


/* Styles */

* {
    font-family: proxima-nova, "proxima nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-container {
    margin-left: 0;
}

body {
    font-size: 16px;
    color: $body-copy !important;
    td {
        color: $body-copy;
    }
}

h1,
h2,
h3,
h4,
h5 {
    color: $body-copy;
}

.page-header,
.ListHeading {
    font-size: 34px;
    text-align: center;
    display: block;
    color: $tei-primary;
    text-transform: uppercase;
    font-weight: 300;
}

textarea {
    /*border: none;*/
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-bogx;
    box-sizing: border-box;
    /* Chrome, IE8, Opera, Safari 5.1*/
}

.table-bordered>thead>tr>th {
    background: #ddd !important;
    text-transform: uppercase;
}

.bPageBlock .detailList .labelCol {
    width: 0%;
}

.bPageBlock .detailList .dataCol {
    width: 0%;
}

.interviewFormHeaderCell {
    border-bottom: 1px solid #ffffff;
}

.bPageBlock .requiredInput {
    margin: 10px 0;
}

#NewCase .pbBottomButtons {
    /*max-width: 150px !important;*/
}

.apexp .bPageBlock.apexDefaultPageBlock .pbBody {
    margin: 0;
}

.FullAccountAccess {
    background: #E6711B;
    border-radius: 2px;
    color: white;
    cursor: default;
    display: inline-block;
    font-size: 0.7em;
    position: relative;
    white-space: nowrap;
    padding: 4px 10px 4px 10px;
    margin: 5px 10px 0 0;
    -webkit-box-shadow: 5px 5px 0 0 darken($tei-third, 5%), 5px 5px 0 0 darken($tei-third, 5%);
}

.divider {
    clear: both;
    margin-bottom: 30px;
}

.bPageBlock.brandSecondaryBrd.apexDefaultPageBlock.secondaryPalette {
    border-top-color: #ffffff;
}

.pbHeader {
    display: none;
}

body .bEditBlock .pbBottomButtons,
body .apexp .bPageBlock.apexDefaultPageBlock .pbBottomButtons {
    border-top: 1px solid #ffffff;
}

.bPageBlock.brandSecondaryBrd.apexDefaultPageBlock.secondaryPalette {
    border-top-color: #ffffff !important;
}

body .bPageBlock,
body #bodyCell .bResource .secondaryPalette,
body .secondaryPalette.bPageBlock,
body .individualPalette .secondaryPalette.bPageBlock,
body .bodyDiv .genericTable,
body .genericPageBlockTable,
body .bodyDiv .bSubBlock,
body .bComponentBlock .bPageBlock,
body .bMyDashboard .bPageBlock,
body.rlHoverFrame .bPageBlock,
body.subjectSelectionPopup div.choicesBox,
body.lookupTab .secondaryPalette.bPageBlock,
body.popupTab .secondaryPalette.bPageBlock,
body.UserTagStatsPage .secondaryPalette.bPageBlock {
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-radius: 4px;
    border-right: 1px solid #ffffff;
}

.iframe_wrapper {
    width: 100%;
    max-width: 1100px;
    height: 100%;
    float: right;
    background: #fff
}

.h_iframe {
    position: relative;
    padding-top: 80%;
}

.h_iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-header {
    display: none;
}

.modal-body {
    position: relative;
    padding: 0px;
}

.CloneOppContainer {
    clear: both;
}

.vf-tei-logo {
    padding: 20px 0;
}

.vf-flow.secondary {
    .CaseContainer {
        padding: 15px;
        border: 1px solid #ddd;
        background: #f8f8f8;
    }
    .SupportHeading {
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.2em;
        margin-bottom: 1.2em;
    }
    img.SupportPic {
        border-radius: 50%;
        max-width: 70px;
        margin-top: 1em;
        margin-bottom: 1em;
        // box-shadow: 0 0 0 2px #ddd, 0 0 0 4px $tei-primary;
    }
}

.CaseContainer {
    .SupportHeading {}
    .SupportName {
        font-weight: 600;
        color: $tei-primary;
    }
    .SupportTitle {
        color: $cool-grey;
        font-size: 0.9em;
    }
    .SupportPhone {}
    .SupportEmail {
        margin-bottom: 1em;
    }
}

.vf-flow.secondary .pbBody,
.vf-flow.secondary .secondaryPalette.bPageBlock,
.vf-flow.secondary .pbBottomButtons,
.vf-flow.secondary table {
    background: #fff;
    border-color: #fff !important;
}

.vf-flow.secondary .CaseContainer {
    /*padding: 15px;*/
}

.vf-flow.secondary .pbBottomButtons {
    display: none !important;
}

.vf-flow.secondary .logo {
    display: block;
    width: 240px;
    max-width: 100%;
    margin: 0 auto 18px;
    height: auto;
}

.vf-flow.secondary .AnkerNav ul {
    list-style-type: none;
    padding: 15px 0;
    margin: 0;
}

.vf-flow.secondary .AnkerNav li {
    display: block;
    text-align: center;
    margin-left: 0;
    border: 2px solid #2a5781;
    transition: all 200ms, opacity 600ms;
    border-radius: 4px;
}

.vf-flow.secondary .AnkerNav li:hover {
    color: #fff;
    background: #2a5781;
}

.vf-flow.secondary .AnkerNav li+li {
    margin-top: 15px;
}

.vf-flow.secondary .AnkerNav li a {
    display: inline-block;
    padding: 15px 80px;
    font-size: 1.1em;
    letter-spacing: 1.5px;
    text-decoration: none !important;
    text-transform: uppercase;
}

.vf-flow.secondary .AnkerNav li a:hover {
    color: #fff;
}

.vf-flow .bPageBlock {
    border-top-color: #2a5781;
}

.vf-flow.secondary b {
    margin: 10px 0;
    display: block;
}

.vf-flow.secondary a,
#opencases a,
#closedcases a,
#ConferenceCall a {
    font-weight: 600;
    color: #2a5781;
}

.vf-flow.secondary .accountmanagerpic {
    margin: 10px 0 0;
    max-width: 100px;
    border-radius: 50%;
}

.CloneOpp {
    clear: both;
}

.ExpertListPic,
.ContactListPic,
.ResearcherListPic {
    margin: 0 5px 0 0;
    max-width: 40px;
    border-radius: 50%;
    display: block;
    float: left;
}

.vf-flow.main input[type=text] {
    width: 100%;
}

.vf-flow.main label {
    margin-bottom: 20px;
}

.vf-flow.main table.multiSelectPicklistTable {
    width: 100%;
}

.vf-flow.main tr.interviewDisplayTextRow {
    // line-height: 1.8;
}

.vf-flow.main select[multiple],
select[size] {
    height: auto;
    width: 90%;
}

.btn.FlowNextBtn {
    transition: all 200ms, opacity 600ms;
    background-image: none;
    background: #fff;
    padding: 6px 25px;
    border: 2px solid #e6711b;
    color: #e6711b;
}

.btn.FlowNextBtn:hover {
    color: #fff;
    background: #e6711b;
}

.table-hover>tbody>tr:hover {
    background-color: rgba(232, 232, 232, 0.38);
}

.NewCaseButton {
    display: block;
    width: 150px;
    border-radius: 4px;
    border: 2px solid #2a5781;
    background: #2a5781;
    margin: 12px 0;
    padding: 6px 25px;
    text-align: center;
}

.NewCaseButton {
    color: #fff !important;
    text-decoration: none !important;
}

#closedcases a.btn-rate-now {
    color: $tei-third;
    padding: 2px 5px;
    font-size: 14px;
    display: inline-block;
    border: 2px solid $tei-third;
    margin: 0 auto;
    border-radius: 14px;
    &:hover,
    & a:hover {
        background: $tei-third;
        color: #fff;
        text-decoration: none;
    }
}

.bPageBlock .requiredInput .requiredBlock {
    background-color: $tei-third;
    position: absolute;
    width: 2px;
    top: 0;
    left: -4px;
    bottom: 0;
}

@media (min-width: 992px) {
    .modal-lg {
        width: 1170px;
        max-width: 98%;
    }
}

.heading-underline {
    line-height: normal;
    border-bottom: 1px solid #ddd;
    text-align: left;
    /*font-size: 1em;*/
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 14px;
    color: $tei-primary;
    margin-bottom: 20px;
    a {
        color: $tei-primary;
    }
}

.text-underline {
    width: auto;
    padding-bottom: 12px;
}

@media (min-width: 768px) {
    .text-underline {
        border-bottom: 3px solid #dadada;
    }
}

.vf-flow .pagination>li {
    display: inline;
    margin-left: auto;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #ddd;
    border-color: #ddd;
}


/*-------------------------------------------------------------------------
| EXPERT RATING PAGE
/--------------------------------------------------------------------------*/

.vf-flow.star {
    .requiredBlock {
        display: none;
    }
}


/*-------------------------------------------------------------------------
| DASH PANELS
/--------------------------------------------------------------------------*/

.panel-dashboard {
    /*   max-width: 250px; */
    margin: 0 auto;
    margin-bottom: 2em;
}

.panel-dashboard.panel-info {
    border-color: #2a5781;
}

.panel-dashboard .panel-heading {
    color: #fff;
    background: #2a5781;
    border-bottom-color: #2a5781;
}

.panel-dashboard h3.dash-count {
    font-size: 2.4em;
    font-weight: 300;
    margin: 0.5em 0;
}

.panel-dashboard .panel-body {
    text-align: center;
}

.dash-heading .dashboard-icon {
    margin-right: 8px;
}

.dashboard-panel-container {
    margin: 20px -15px;
}
