@import 'colors.scss';
@import 'star-rating.scss';
@import 'status-overlay.scss';
// @import 'font-awesome.scss';
/*-------------------------------------------------------------------------
| 1. UTILITY CLASSES - specific to Case Details
/--------------------------------------------------------------------------*/

.mb {
    margin-bottom: 60px;
}

.mt {
    margin-top: 60px;
}

.pt {
    padding-top: 7px;
}

.np {
    padding: 0;
}

.hide {
    display: none;
}

.float-right {
    float: right;
}

.emphasis {
    font-weight: bold;
}

.g-m-title {
    font-weight: bold;
}

hr:last-of-type {
    display: none;
}
a {
    color: $tei-primary;
    &:hover {
        text-decoration: underline;
    }
}





/*-------------------------------------------------------------------------
| 2. GLOBAL STYLES
/--------------------------------------------------------------------------*/


div {
    line-height: 1.8em;
}

body {
    font-family: proxima-nova, "proxima nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    /*background-color: #f8f8f8;*/
    color: #444d56;
}

p {
    line-height: 30px;
}

h1,
h2,
h3,
h4 {
    font-family: proxima-nova, "proxima nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 40px;
    line-height: 48px;
}

h2 {
    font-size: 22px;
    line-height: 26px;
}

@media screen and (max-width: 420px) {
    .case-manager-card {
        font-size: 14px;
    }
    h1 {
        font-size: 26px;
        line-height: 48px;
    }
    h2 {
        font-size: 20px;
        line-height: 26px;
    }
    body {
        font-size: 17px;
    }
}

a:hover {
    text-decoration: none !important;
}

.main-container {
    background-color: #fff;
    margin-left: 0;
    /*border-radius: 3px;*/
    /*box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);*/
}




.casetitle, .CaseTitle  {
    font-size: 36px;
    line-height: 47px;
    color: #2a5781;
    margin-bottom: 40px;
    font-weight: 400;
    text-align: center;
    @media (max-width: 768px) {
        font-size: 1.4em;
        margin-bottom: 80px;
    }
}


/* CASE MANAGER CARD */
.case-manager-card {
    position: relative;
    margin-top: 25px;
    background-color: #f9f9f9;
    border-radius: 3px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    p {
        margin-bottom: 0;
    }
    h2 {
        margin-top: 0;
        margin-bottom: 30px;
    }
    ul {
        list-style: none;
        padding-left: 20px;
        padding-top: 214px;
        padding-bottom: 40px;
    }
     span {
        font-size: 24px;
    }

    //targets button container to the right: 
    &+.col-md-6 {
        padding-top: 25px;
    }
    .cardimg {
        position: absolute;
        text-align: center;
        margin-top: -40px;
        margin-left: -81px;
        left: 50%;
        border-radius: 50%;
    }
    .case-manager-img {
        border: 5px solid #fff;
        width: 162px;
        margin-bottom: 12px;
    }
}


.read-more-show,
.read-more-hide {
    padding-top: 20px;
    float: right;
}

.expert-questions {
    padding-left: 0;
}

.sec-questions li {
    list-style-type: disc;
    list-style-position: inside;
    margin-bottom: 2em;
}

.sec-expert hr {
    border-top: 1px solid #dedede;
}

.expert-pic {
    
        display: inline;

    padding: 0 0 60px 0;
    text-align: center;
}

.expert-pic p {
    margin: 0;
}



.feedback {
    /*font-size: 22px;*/
    font-weight: 400;
    line-height: 1.7;
    font-size: 1em;
    background: #eceef1;
    padding: 25px 15px;
}

.price {
    float: right;
}

.sec-fee ul {
    list-style: none;
    padding-left: 0;
    padding-right: 20%;
    font-weight: 600;
    margin-bottom: 20px;
}

@media screen and (max-width: 400px) {
    .btn-default {
        font-size: 12px;
    }
    .logo-row {
        text-align: center;
    }
    .casetitle {
        font-size: 1.2em;
        text-align: center;
        line-height: 1.2em;
    }
    .feedback {
        font-size: 1.2em;
    }
    h1 {
        text-align: center;
    }
}

footer {
    background-color: #2a5781;
    border: none;
    width: 100%;
    height: 25px;
}

.heading-underline {
    line-height: normal;
    border-bottom: 1px solid #ddd;
    text-align: left;
    /*font-size: 1em;*/
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 14px;
    color: #2a5781;
    margin-bottom: 20px;
}

.text-underline {
    width: auto;
    padding-bottom: 12px;
}

@media (min-width: 768px) {
    .text-underline {
        border-bottom: 3px solid #dadada;
    }
}




/*-------------------------------------------------------------------------
| 4. FORM STYLES
/--------------------------------------------------------------------------*/

fieldset {
    border-radius: 6px;
    padding: 10px;
}

legend {
    padding-top: 50px;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: #CCC;
    height: 20px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #333;
    opacity: 0.9;
    width: 20px;
    height: 26px;
}

.input-holder {
    position: relative;
    margin: 0 0 20px;
}

input,
textarea {
    border: 2px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    width: 100%;
    resize: none;
    -webkit-transition: .3s;
    transition: .3s;
}

input:focus,
textarea:focus {
    border: 2px solid #2a5781;
    outline: none;
}

textarea {
    min-height: 150px;
}

textarea[name=inputInitthoughts],
textarea[name=inputQualifications] {
    min-height: 200px;
}

input[type="file"] {
    border: none;
}

.message {
    position: absolute;
    z-index: 9;
    display: none;
    width: 280px;
    padding: 10px;
    margin-top: 10px;
    background: orange;
    color: #fff;
    text-align: center;
    border-radius: 3px;
}

.message:after {
    content: '';
    position: absolute;
    top: -10px;
    left: 33%;
    display: block;
    margin-left: -10px;
    border: solid;
    border-color: orange transparent orange;
    border-width: 0 10px 10px;
}

@media screen and (max-width: 620px) {
    .message {
        width: 100%;
    }
}

.btn-valid {
    background-color: #AAD661;
    color: #fff;
}

.btn-valid:hover {
    border-color: #AAD661;
}

.is-valid {
    border-color: #AAD661;
}

.not-valid {
    border-color: orange;
    -webkit-transition: 0;
    transition: 0;
}

.not-valid + .message {
    display: block !important;
    box-shadow: 20px black;
}

.submit {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid #CCC;
    border-radius: 4px;
    background: transparent;
    color: #CCC;
    -webkit-transition: .3s;
    transition: .3s;
}

.hourly {
    padding-left: 18px;
    padding-right: 40px;
}

.daily {
    padding-left: 18px;
    padding-right: 46px;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.tei-placeholder-wrap {
    display: inline-block;
    position: relative;
}

.tei-placeholder-wrap .tei-placeholder.tei-left {
    left: 0px;
}

.tei-placeholder-wrap .tei-placeholder {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0px;
    cursor: text;
    color: #666;
    padding: 6px 6px;
}

.tei-placeholder-wrap .tei-placeholder.tei-right {
    right: 0;
}


/*-------------------------------------------------------------------------
| 5. BUTTON STYLES
/--------------------------------------------------------------------------*/
.btn, .btn.btn-default {
    transition: all 0.2s ease-in-out;
    border: 2px solid $tei-primary;
    padding: 12px;
    text-transform: uppercase;
    font-weight: 600;
    white-space: normal;
    border-radius: 3px;
    color: $tei-primary;
    font-size: 14px !important;
    padding: 16px 32px;
    &:hover {
        background: $tei-primary;
        color: $white;
        a {
            color: $white;
        }
    }
    //spacing for touching buttons
    &+.btn {
        @media (max-width: 768px) {
            margin-top: 20px;
        }
    }

    &.btn-hire a {
        color: $tei-third;
    }
}

.btn {
    display: inline-block;
}

.btn.upload,.btn.LCMTmsg {
        display: block;
        width: 300px;
        @media (max-width: 767px){
            width: 100%;
            text-align: center;
        }
        padding: 16px 32px;
        margin-left: 0;
        text-align: left;

        color: $tei-primary;
        &:hover {
            color: $white !important;
        }
        &:hover:before {
            color: $white;
        }
}
.btn.upload{

    &:before {
        content: "\f0ee";
        font-family: FontAwesome;
        margin-right: 6px;
    }

}
.btn.LCMTmsg {
    margin-top: 10px;
    &:before {
        content: "\f086";
        font-family: FontAwesome;
        margin-right: 6px;
    }
}
.btn-success {
    color: #ffffff;
    display: block;
    width: 100%;
    background-color: #2A8414;
    border: 2px solid #2A8414;
    // font-size: 17px;
    padding: 16px 32px;
}

.btn-default {
    // font-size: 17px;
    // margin: 20px;
}

.btn-hire, .btn-submit, .btn.btn-submit{
    /*color: #fff;*/
    // display: block;
    width: 100%;
    border-radius: 4px;
    border: 2px solid $tei-third;
    /*background-color: $tei-third;*/
    font-weight: 600;
    font-size: 14px;
    padding: 16px 32px;
    max-width: 400px;
    margin: 0 auto;
    color: $tei-third;
    background-color: transparent;
    transition: background 0.2s ease-in-out;
    &:hover {
        color: #fff;
        a {color: #fff};
        border: 2px solid $tei-third;
        background-color: $tei-third;
    }
}



.btn-hire:active {
    color: #2A8414;
}

.btn-hire + .btn {
    margin-left: 20px;
    @media (max-width: 767px){
        margin-top: 10px;
        margin-left: 0;
        display: block;
        width: 100%;
    }
}




/*-------------------------------------------------------------------------
| Page specific styles
/--------------------------------------------------------------------------*/


    
.interviewFormHeaderCell {
    border-bottom: 1px solid #ffffff;
    }
     .logo {
    display: block;
    height: auto;
    margin: 20px auto;
    max-width: 100%;
    width: 240px;
}

.ExpertPic{max-width: 100px;
    border-radius: 50%;}

.case-manager-img {max-width: 100px;
    border-radius: 50%;}

body .bPageBlock, body #bodyCell .bResource .secondaryPalette, body .secondaryPalette.bPageBlock, body .individualPalette .secondaryPalette.bPageBlock, body .bodyDiv .genericTable, body .genericPageBlockTable, body .bodyDiv .bSubBlock, body .bComponentBlock .bPageBlock, body .bMyDashboard .bPageBlock, body.rlHoverFrame .bPageBlock, body.subjectSelectionPopbtn div.choicesBox, body.lookupTab .secondaryPalette.bPageBlock, body.popupTab .secondaryPalette.bPageBlock, body.UserTagStatsPage .secondaryPalette.bPageBlock {
    background-color: #ffffff; 
}
.divider{clear:both;margin-bottom:30px;}
.bPageBlock.brandSecondaryBrd.apexDefaultPageBlock.secondaryPalette {
    border-top-color: #ffffff;
}
.pbHeader{display:none;}


.bPageBlock.brandSecondaryBrd.apexDefaultPageBlock.secondaryPalette {
    border-top-color: #ffffff !important;
}

body .bPageBlock, body #bodyCell .bResource .secondaryPalette, body .secondaryPalette.bPageBlock, body .individualPalette .secondaryPalette.bPageBlock, body .bodyDiv .genericTable, body .genericPageBlockTable, body .bodyDiv .bSubBlock, body .bComponentBlock .bPageBlock, body .bMyDashboard .bPageBlock, body.rlHoverFrame .bPageBlock, body.subjectSelectionPopup div.choicesBox, body.lookupTab .secondaryPalette.bPageBlock, body.popupTab .secondaryPalette.bPageBlock, body.UserTagStatsPage .secondaryPalette.bPageBlock {
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-radius: 4px;
    border-right: 1px solid #ffffff;
}



.bPageBlock.brandSecondaryBrd.apexDefaultPageBlock.secondaryPalette{ 
    border-top-color: #2a5781;
}
span.text-underline{

}

.ContactData{
    margin-bottom: 2em;
    display: block;
    line-height: 1.67;
}
.ContactName{
    font-weight: 600;
}
.ContactAddress{}
.ContactAddress2{}
.ContactCityStateZIP{}
.ContactData .Phone{}
.ContactEmail{}

.AttachmentContainer{
     
     display: inline-block;
     margin-right: 20px;
}
.AttachmentContainer:before {
}

.AttachmentType {
    font-weight: 600;
    float: left;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px
}
.AttachmentType:before {
    content: " –  ";
}
.AttachmentLink{
    padding-left: 30px;
    display:block;
    margin-bottom: 2em;
  
}
.AttachmentLink a {
    text-decoration: underline;
    font-weight: 600;
      color: #2a5781;
}
.AttachmentName{
    font-size: 0.8em;
    float: left;
    a {
        text-decoration: underline;
    }
}

img.ExpertPic {
   display: inline;
   text-align: center;
   margin: 10px 0;
}
.EID {
    font-weight: 600;
}
.FeesChart,.FeesDepo,.FeesTrial,.FeesComments{
    float: left;
    width: 150px;
}
.FeesChart span,.FeesDepo span,.FeesTrial span,.FeesComments span {
    font-weight: 600;
    display: block;
}


.FileIcon {
    float: left;
    margin-top: 5px;
}

.FileIcon:before
 {
    content: "\f016"; /* generic file icon */
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-family: 'fontAwesome';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    width: 20px;
    text-align: right;
    margin-right: 10px;
}


.pdf.FileIcon:before {
    content: "\f1c1"; /*PDF*/
  color: red;
}
.docx.FileIcon:before,
.doc.FileIcon:before {
    content: "\f1c2"; /*Word*/
    color: blue;
}
.xls.FileIcon:before,
.xlsx.FileIcon:before {
    content: "\f1c3"; /*Excel*/
    color: green;
}
.ppt.FileIcon:before, 
.pptx.FileIcon:before {
    content: "\f1c4"; /*Powerpoint*/
    color: #CC8400;
}



.vf-tei-logo {
    padding: 20px 0;
}
.vf-flow.secondary .logo {
    display: block;
    width: 180px;
    max-width: 100%;
    margin: 0 auto 18px;
    height: auto;
}








/*-------------------------------------------------------------------------
| CHATTER STYLES
/--------------------------------------------------------------------------*/

.container.ChatterContainer {
  padding: 20px;
}
.ChatterContainer .col-md-2, .ChatterContainer .col-md-10{
    padding:0;
}


.ChatterContainer{
  background: #f9f9f9;
  margin: 0;
  padding: 0 10px 10px;
  // @media(max-width: 767px) {
  //     max-height: 200px;
  // }
  // @media  (min-width: 768px){
  //   max-height: 450px;
  // }

  // overflow-x:hidden;
  max-width: 640px;
}

.MessageContainer.left .OppMsg{
/*     padding-left:0; */
/*     margin-left:0; */
}
.MessageContainer.right .OppMsg{
    padding-bottom:20px !important;
    margin-right:0;
}
.OppMsg {
  background: #fff;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width:100%;
}
.OppMsg p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
  margin-bottom: 1em;
  }
.OppMsg > .OppDate {
    font-size: 11px;
    color: #ccc;
}
.MessageContainer {
    padding: 10px;
    overflow: hidden;
    display: flex;
}
.MessageContainer img {
    display: block;
    width: 100%;
}
.MessageContainer .avatar {
    position: relative;
  max-width: 60px;
}
.MessageContainer.left  .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.MessageContainer.right {
  justify-content: flex-end;
  align-items: flex-end;
}
.MessageContainer.right > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
}

.MessageContainer.right .OppMsg > .OppDate{
    float: right;
}
a#Chattertoggle {
    text-decoration: none !important;
}
// .OppDate {
//     font-weight: 600;
//     font-size: 12px;
//     color: $cool-grey;
// }

// .MessageContainer {
//     margin-bottom: 10px;
//     padding-bottom: 5px;
//     font-size: 0.8em;
//     border-bottom: 1px dotted $mid-grey;
//     &:before {
//         display: table;
//         content: " ";
//     }
//     &:after {
//         clear: both;
//         display: table;
//         content: " ";
//         box-sizing: border-box;
//     }
// }
// .ChatterPic {
//     border-radius: 50%;
//     float: left;
//     max-width: 60px;
//     margin: 0 20px 20px 0;
// }