/* Utility Styles */
/*********************
UTILITY STYLES
*********************/
.clear:after, .clear:before {
  content: "";
  display: table; }

.clear:after {
  clear: both; }

.clear * {
  zoom: 1; }

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.hide {
  display: none; }

img {
  border: none; }
  img.responsive {
    max-width: 100%;
    height: auto; }

.center {
  margin: 0 auto; }

.left {
  float: left; }

.right {
  float: right; }

.fixed {
  position: fixed; }

table {
  width: 100%; }
  table td {
    vertical-align: top; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.mb {
  margin-bottom: 2em; }

.mt {
  margin-top: 2em; }

.mt1 {
  margin-top: 1em; }

.mb1 {
  margin-bottom: 1em; }

.mt-0,
.mt0 {
  margin-top: 0; }

.pb {
  padding-bottom: 2em; }

.pt {
  padding-top: 2em; }

.np {
  padding: 0; }

.nm {
  margin: 0; }

.flush-bottom {
  margin-bottom: 0; }

.bold {
  font-weight: 600; }

.underline {
  text-decoration: underline; }

.center-block {
  float: none; }

.large {
  font-size: 1.15em;
  font-weight: 100;
  line-height: 1.2em; }

.small {
  font-size: 0.85em;
  font-weight: 500;
  line-height: 1.5em; }

.mini {
  font-size: 0.75em;
  font-weight: 300;
  line-height: 1.1em; }
