/*CASE INTAKE PAGE*/

* {
    font-family: proxima-nova, "proxima nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    font-size: 18px;
}

textarea {
    /*border: none;*/
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* Chrome, IE8, Opera, Safari 5.1*/
}

.bPageBlock .detailList .labelCol {
    width: 0%;
}

.bPageBlock .detailList .dataCol {
    width: 0%;
}

.interviewFormHeaderCell {
    border-bottom: 1px solid #ffffff;
}

.bPageBlock .requiredInput {
    margin: 10px 0;
}

#NewCase .pbBottomButtons {
    /*max-width: 150px !important;*/
}

.apexp .bPageBlock.apexDefaultPageBlock .pbBody {
    /*margin: 0;*/
}


/*body .bPageBlock,
body #bodyCell .bResource .secondaryPalette,
body .secondaryPalette.bPageBlock,
body .individualPalette .secondaryPalette.bPageBlock,
body .bodyDiv .genericTable,
body .genericPageBlockTable,
body .bodyDiv .bSubBlock,
body .bComponentBlock .bPageBlock,
body .bMyDashboard .bPageBlock,
body.rlHoverFrame .bPageBlock,
body.subjectSelectionPopup div.choicesBox,
body.lookupTab .secondaryPalette.bPageBlock,
body.popupTab .secondaryPalette.bPageBlock,
body.UserTagStatsPage .secondaryPalette.bPageBlock {
    background-color: #ffffff;
}
*/

.divider {
    clear: both;
    margin-bottom: 30px;
}

.bPageBlock.brandSecondaryBrd.apexDefaultPageBlock.secondaryPalette {
    border-top-color: #ffffff;
}

.pbHeader {
    display: none;
}

body .bEditBlock .pbBottomButtons,
body .apexp .bPageBlock.apexDefaultPageBlock .pbBottomButtons {
    border-top: 1px solid #ffffff;
}

.bPageBlock.brandSecondaryBrd.apexDefaultPageBlock.secondaryPalette {
    border-top-color: #ffffff !Important;
}

body .bPageBlock,
body #bodyCell .bResource .secondaryPalette,
body .secondaryPalette.bPageBlock,
body .individualPalette .secondaryPalette.bPageBlock,
body .bodyDiv .genericTable,
body .genericPageBlockTable,
body .bodyDiv .bSubBlock,
body .bComponentBlock .bPageBlock,
body .bMyDashboard .bPageBlock,
body.rlHoverFrame .bPageBlock,
body.subjectSelectionPopup div.choicesBox,
body.lookupTab .secondaryPalette.bPageBlock,
body.popupTab .secondaryPalette.bPageBlock,
body.UserTagStatsPage .secondaryPalette.bPageBlock {
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-radius: 4px;
    border-right: 1px solid #ffffff;
}

.iframe_wrapper {
    width: 100%;
    max-width: 1100px;
    height: 100%;
    float: right;
    background: #fff
}

.h_iframe {
    position: relative;
    padding-top: 80%;
}

.h_iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-header {
    display: none;
}

.modal-body {
    position: relative;
    padding: 0px;
}

.CloneOppContainer {
    clear: both;
}

.vf-tei-logo {
    padding: 20px 0;
}

.vf-flow.secondary {
    border: 1px solid #ddd;
    background: #f8f8f8;
}

.vf-flow.secondary .pbBody,
.vf-flow.secondary .secondaryPalette.bPageBlock,
.vf-flow.secondary .pbBottomButtons,
.vf-flow.secondary table {
    background: #f8f8f8;
    border-color: #f8f8f8 !important;
}

.vf-flow.secondary .CaseContainer {
    /*padding: 15px;*/
}

.vf-flow.secondary .pbBottomButtons {
    display: none !important;
}

.vf-flow.secondary .logo {
    display: block;
    width: 240px;
    max-width: 100%;
    margin: 0 auto 18px;
    height: auto;
}

.vf-flow.secondary .AnkerNav ul {
    list-style-type: none;
    padding: 15px 0;
    margin: 0;
}

.vf-flow.secondary .AnkerNav li {
    display: block;
    text-align: center;
    margin-left: 0;
    border: 2px solid #2a5781;
    transition: all 200ms, opacity 600ms;
    border-radius: 4px;
}

.vf-flow.secondary .AnkerNav li:hover {
    color: #fff;
    background: #2a5781;
}

.vf-flow.secondary .AnkerNav li+li {
    margin-top: 15px;
}

.vf-flow.secondary .AnkerNav li a {
    display: inline-block;
    padding: 15px 80px;
    font-size: 1.1em;
    letter-spacing: 1.5px;
    text-decoration: none !important;
    text-transform: uppercase;
}

.vf-flow.secondary .AnkerNav li a:hover {
    color: #fff;
}

.vf-flow .bPageBlock {
    border-top-color: #2a5781;
}

.vf-flow.secondary b {
    margin: 10px 0;
    display: block;
}

.vf-flow.secondary a,
#opencases a,
#closedcases a {
    font-weight: 600;
    color: #2a5781;
}

.vf-flow.secondary .accountmanagerpic {
    margin: 10px 0 0;
    max-width: 100px;
    border-radius: 50%;
}

.CloneOpp {
    clear: both;
}

.ExpertListPic,
.ContactListPic,
.ResearcherListPic {
    margin: 10px 0 0;
    max-width: 60px;
    border-radius: 50%;
    display: block;
}

.vf-flow.main label {
    margin-bottom: 20px;
}

.vf-flow.main table.multiSelectPicklistTable {
    width: 100%;
}

.vf-flow.main tr.interviewDisplayTextRow {
    line-height: 1.8;
}

.vf-flow.main select[multiple],
select[size] {
    height: auto;
    width: 90%;
}

.btn.FlowNextBtn {
    transition: all 200ms, opacity 600ms;
    background-image: none;
    background: #fff;
    padding: 6px 25px;
    border: 2px solid #e6711b;
    color: #e6711b;
}

.btn.FlowNextBtn:hover {
    color: #fff;
    background: #e6711b;
}

.table-hover>tbody>tr:hover {
    background-color: rgba(232, 232, 232, 0.38);
}

.NewCaseButton {
    display: block;
    width: 150px;
    border-radius: 4px;
    border: 2px solid #2a5781;
    background: #2a5781;
    margin: 12px 0;
    padding: 6px 25px;
    text-align: center;
}

.NewCaseButton {
    color: #fff !important;
    text-decoration: none !important;
}

.bPageBlock .requiredInput .requiredBlock {
    background-color: rgb(255, 114, 11);
    position: absolute;
    width: 2px;
    top: 1px;
    left: 1px;
    bottom: 1px;
}

@media (min-width: 992px) {
    .modal-lg {
        width: 1170px;
        max-width: 98%;
    }
}

.ExpertRatingStars {
    width: 95px;
    height: 19px;
    background: url(https://i.imgur.com/SyUeSpE.png) -113px 0 no-repeat;
}

.container {
    margin-left: 0px;
}

.ListHeading {
    display: inline-block;
    margin-bottom: 0.5em;
    font-weight: 600;
}

.Stars0_5 {
    background-position: -95px 0;
}

.Stars1 {
    background-position: -76px -23px;
}

.Stars1_5 {
    background-position: -76px 0;
}

.Stars2 {
    background-position: -57px -23px;
}

.Stars2_5 {
    background-position: -57px 0;
}

.Stars3 {
    background-position: -38px -23px;
}

.Stars3_5 {
    background-position: -38px 0;
}

.Stars4 {
    background-position: -19px -23px;
}

.Stars4_5 {
    background-position: -19px 0;
}

.Stars5 {
    background-position: 0 0;
}
